:root {
  --measure: 45rem;

  --font-size-body: 1em;
  --line-height-body: 1.5;
  --font-size-h4: 1.272em;
  --line-height-h4: calc(1.2 * var(--line-height-body) / 1.272);
  --font-size-h3: 1.618em;
  --line-height-h3: calc(1.5 * var(--line-height-body) / 1.618);
  --font-size-h2: 2.058em;
  --line-height-h2: calc(1.75 * var(--line-height-body) / 2.058);
  --font-size-h1: 2.618em;
  --line-height-h1: calc(2 * var(--line-height-body) / 2.618);

  --ratio: var(--line-height-body);
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --accent-color: #d73114;
  --body-color: #444444;
  --border-thin: 1px;
  --border-radius: 5px;
  --border-color: color-mix(in srgb, currentcolor 50%, white);
  --text-background-color: color-mix(in srgb, var(--body-color) 7%, white);
}

//  ____  _____ ____  _____ _____
// |  _ \| ____/ ___|| ____|_   _|
// | |_) |  _| \___ \|  _|   | |
// |  _ <| |___ ___) | |___  | |
// |_| \_\_____|____/|_____| |_|

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-block-size: 100%;
}

* {
  background-color: inherit;
}

hr {
  border: 0;
  display: flex;
  justify-content: center;
  &:before {
    content: "* * *";
  }
}

//  _____ _     _____ __  __ _____ _   _ _____ ____
// | ____| |   | ____|  \/  | ____| \ | |_   _/ ___|
// |  _| | |   |  _| | |\/| |  _| |  \| | | | \___ \
// | |___| |___| |___| |  | | |___| |\  | | |  ___) |
// |_____|_____|_____|_|  |_|_____|_| \_| |_| |____/

.h4, h4 {
  line-height: var(--line-height-h4);
  font-size: var(--font-size-h4);
}

.h3, h3 {
  line-height: var(--line-height-h3);
  font-size: var(--font-size-h3);
}

.h2, h2 {
  line-height: var(--line-height-h2);
  font-size: var(--font-size-h2);
}

.h1, h1 {
  line-height: var(--line-height-h1);
  font-size: var(--font-size-h1);
}

code {
  background: var(--text-background-color);
  padding: 0.2ch 0.4ch;
  border-radius: var(--border-radius);
}

:is(article, .article) > p + :is(h1, h2, h3, h4, h5, h6) {
  margin-block-start: calc(var(--line-height-body) * 1rem) !important;
}

html {
  font-family: Georgia, "Helvetica Neue", sans-serif;
  line-height: var(--line-height-body);
  color: var(--body-color);
}

body {
  padding: 1.5rem 1rem;
}

svg {
  color: inherit;
}

a {
  color: var(--accent-color);
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

pre {
  background: var(--text-background-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  overflow: auto;

  & code {
    all: unset;
  }
}

blockquote {
  padding: 0 2em;
}

ul,
ol {
  padding-inline-start: 1em;
  list-style-position: inside;
}

//   ____ _        _    ____ ____  _____ ____
//  / ___| |      / \  / ___/ ___|| ____/ ___|
// | |   | |     / _ \ \___ \___ \|  _| \___ \
// | |___| |___ / ___ \ ___) |__) | |___ ___) |
//  \____|_____/_/   \_\____/____/|_____|____/

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

.box {
  padding: 1rem;
  border: var(--border-thin) var(--border-color) solid;
  border-radius: var(--border-radius);
}

.body {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

.body-color {
  color: var(--body-color);
}

.cluster {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space, var(--s1));
}

.no-space {
  --space: 0;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

[class^="stack"] > * {
  /* top and bottom margins in horizontal-tb writing mode */
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--space, var(--s1));
}

.stack-large > * + * {
  margin-block-start: var(--s2);
}

.stack-small > * + * {
  margin-block-start: var(--s-1);
}

.space-between {
  justify-content: space-between;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.bare-list {
  list-style: none;
  padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

:is(h1, h2, h3, h4, h5, h6).uppercase {
  letter-spacing: 0.2ch;
}

.text-decoration\:none {
  text-decoration: none;
}

.font-weight\:normal {
  font-weight: normal;
}

.sans {
  font-family: "Helvetica Neue", sans-serif;
}

.list-style-type\:none {
  list-style-type: none;
}

.padding-inline\:0 {
  padding-inline: 0;
}

.color-accent {
  color: var(--accent-color);
}
