:root {
  color-scheme: light dark;

  --color-accent-bg: light-dark(#f5e2e0, #2e2836);
  --color-accent-fg-normal: light-dark(#c43e1c, #e66f51);
  --color-accent-fg: light-dark(#c43e1c, #e66f51);
  --color-canvas-bg: light-dark(#f1eded, #211f29);
  --color-canvas-border: light-dark(#bca3a3, #4d4a5d);
  --color-canvas-fg-faint: light-dark(#d1c4c8, #453e49);
  --color-canvas-fg-muted: light-dark(#b19da8, #6c616b);
  --color-canvas-fg: light-dark(#3d3c44, #dcdbdb);
  --color-error-bg: light-dark(#f2d8d8, #2e2737);
  --color-error-fg-normal: light-dark(#b22e32, #f55661);
  --color-error-fg: light-dark(#b22e32, #ee5c66);
  --color-info-bg: light-dark(#e5dcf3, #2d293f);
  --color-info-fg-normal: light-dark(#3856d1, #69aafd);
  --color-info-fg: light-dark(#3856d1, #69aafd);
  --color-inverted-accent-bg: light-dark(#2e2836, #f5e2e0);
  --color-inverted-accent-fg-normal: light-dark(#e66f51, #c43e1c);
  --color-inverted-accent-fg: light-dark(#e66f51, #c43e1c);
  --color-inverted-canvas-bg: light-dark(#211f29, #f1eded);
  --color-inverted-canvas-border: light-dark(#4d4a5d, #bca3a3);
  --color-inverted-canvas-fg-faint: light-dark(#453e49, #d1c4c8);
  --color-inverted-canvas-fg-muted: light-dark(#6c616b, #b19da8);
  --color-inverted-canvas-fg: light-dark(#dcdbdb, #3d3c44);
  --color-inverted-error-bg: light-dark(#2e2737, #f2d8d8);
  --color-inverted-error-fg-normal: light-dark(#f55661, #b22e32);
  --color-inverted-error-fg: light-dark(#ee5c66, #b22e32);
  --color-inverted-info-bg: light-dark(#2d293f, #e5dcf3);
  --color-inverted-info-fg-normal: light-dark(#69aafd, #3856d1);
  --color-inverted-info-fg: light-dark(#69aafd, #3856d1);
  --color-inverted-layer1-bg: light-dark(#33313f, #e6dfdf);
  --color-inverted-layer1-border: light-dark(#5d5a6f, #b69999);
  --color-inverted-layer1-fg-faint: light-dark(#564e5b, #c8b9bd);
  --color-inverted-layer1-fg-muted: light-dark(#796e78, #aa95a1);
  --color-inverted-layer1-fg: light-dark(#dcdbdb, #3d3c44);
  --color-inverted-layer2-bg: light-dark(#454253, #dcd2d2);
  --color-inverted-layer2-border: light-dark(#726f83, #b08f8f);
  --color-inverted-layer2-fg-faint: light-dark(#665d6b, #c0afb4);
  --color-inverted-layer2-fg-muted: light-dark(#867984, #a48e9a);
  --color-inverted-layer2-fg: light-dark(#dcdbdb, #3d3c44);
  --color-inverted-layer3-bg: light-dark(#555266, #d3c5c5);
  --color-inverted-layer3-border: light-dark(#858294, #ab8686);
  --color-inverted-layer3-fg-faint: light-dark(#746a7a, #baa5ab);
  --color-inverted-layer3-fg-muted: light-dark(#91848f, #9f8694);
  --color-inverted-layer3-fg: light-dark(#dcdbdb, #3d3c44);
  --color-inverted-success-bg: light-dark(#2b2d3a, #e8e792);
  --color-inverted-success-fg-normal: light-dark(#70cf92, #346e27);
  --color-inverted-success-fg: light-dark(#70cf92, #565633);
  --color-inverted-term-black: light-dark(#dcdbdb, #3d3c44);
  --color-inverted-term-blue: light-dark(#69aafd, #3856d1);
  --color-inverted-term-bright-black: light-dark(#dcdbdb, #3d3c44);
  --color-inverted-term-bright-blue: light-dark(#69aafd, #3856d1);
  --color-inverted-term-bright-cyan: light-dark(#18c6ce, #2c6a73);
  --color-inverted-term-bright-green: light-dark(#70cf92, #346e27);
  --color-inverted-term-bright-magenta: light-dark(#b5a0ff, #8f35bd);
  --color-inverted-term-bright-red: light-dark(#f55661, #b22e32);
  --color-inverted-term-bright-white: light-dark(#f5f5f5, #909098);
  --color-inverted-term-bright-yellow: light-dark(#cfb787, #b17900);
  --color-inverted-term-cyan: light-dark(#18c6ce, #2c6a73);
  --color-inverted-term-green: light-dark(#70cf92, #346e27);
  --color-inverted-term-magenta: light-dark(#b5a0ff, #8f35bd);
  --color-inverted-term-red: light-dark(#f55661, #b22e32);
  --color-inverted-term-white: light-dark(#f5f5f5, #909098);
  --color-inverted-term-yellow: light-dark(#cfb787, #b17900);
  --color-inverted-warning-bg: light-dark(#322b38, #fde37c);
  --color-inverted-warning-fg-normal: light-dark(#cfb787, #b17900);
  --color-inverted-warning-fg: light-dark(#cfb787, #615413);
  --color-layer1-bg: light-dark(#e6dfdf, #33313f);
  --color-layer1-border: light-dark(#b69999, #5d5a6f);
  --color-layer1-fg-faint: light-dark(#c8b9bd, #564e5b);
  --color-layer1-fg-muted: light-dark(#aa95a1, #796e78);
  --color-layer1-fg: light-dark(#3d3c44, #dcdbdb);
  --color-layer2-bg: light-dark(#dcd2d2, #454253);
  --color-layer2-border: light-dark(#b08f8f, #726f83);
  --color-layer2-fg-faint: light-dark(#c0afb4, #665d6b);
  --color-layer2-fg-muted: light-dark(#a48e9a, #867984);
  --color-layer2-fg: light-dark(#3d3c44, #dcdbdb);
  --color-layer3-bg: light-dark(#d3c5c5, #555266);
  --color-layer3-border: light-dark(#ab8686, #858294);
  --color-layer3-fg-faint: light-dark(#baa5ab, #746a7a);
  --color-layer3-fg-muted: light-dark(#9f8694, #91848f);
  --color-layer3-fg: light-dark(#3d3c44, #dcdbdb);
  --color-success-bg: light-dark(#e8e792, #2b2d3a);
  --color-success-fg-normal: light-dark(#346e27, #70cf92);
  --color-success-fg: light-dark(#565633, #70cf92);
  --color-term-black: light-dark(#3d3c44, #dcdbdb);
  --color-term-blue: light-dark(#3856d1, #69aafd);
  --color-term-bright-black: light-dark(#3d3c44, #dcdbdb);
  --color-term-bright-blue: light-dark(#3856d1, #69aafd);
  --color-term-bright-cyan: light-dark(#2c6a73, #18c6ce);
  --color-term-bright-green: light-dark(#346e27, #70cf92);
  --color-term-bright-magenta: light-dark(#8f35bd, #b5a0ff);
  --color-term-bright-red: light-dark(#b22e32, #f55661);
  --color-term-bright-white: light-dark(#909098, #f5f5f5);
  --color-term-bright-yellow: light-dark(#b17900, #cfb787);
  --color-term-cyan: light-dark(#2c6a73, #18c6ce);
  --color-term-green: light-dark(#346e27, #70cf92);
  --color-term-magenta: light-dark(#8f35bd, #b5a0ff);
  --color-term-red: light-dark(#b22e32, #f55661);
  --color-term-white: light-dark(#909098, #f5f5f5);
  --color-term-yellow: light-dark(#b17900, #cfb787);
  --color-warning-bg: light-dark(#fde37c, #322b38);
  --color-warning-fg-normal: light-dark(#b17900, #cfb787);
  --color-warning-fg: light-dark(#615413, #cfb787);

  --measure: 45rem;

  --font-weight-headings-light: 800;
  --font-weight-headings-dark: 700;

  --type-scale-ratio: 1.125;
  --type-scale-0: 1.2rem;

  --type-scale--1: calc(var(--type-scale-0) / var(--type-scale-ratio));
  --type-scale-1: calc(var(--type-scale-0) * var(--type-scale-ratio));
  --type-scale-2: calc(var(--type-scale-1) * var(--type-scale-ratio));
  --type-scale-3: calc(var(--type-scale-2) * var(--type-scale-ratio));
  --type-scale-4: calc(var(--type-scale-3) * var(--type-scale-ratio));
  --type-scale-5: calc(var(--type-scale-4) * var(--type-scale-ratio));
  --type-scale-6: calc(var(--type-scale-5) * var(--type-scale-ratio));

  --line-height--1: 1.5;
  --line-height-0: 1.5;
  --line-height-1: 1.4;
  --line-height-2: 1.4;
  --line-height-3: 1.2;
  --line-height-4: 1.2;
  --line-height-5: 1.2;
  --line-height-6: 1.2;

  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;

  --font-family-serif: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --font-family-heading: var(--font-family);
  --font-family-body: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  --font-family-monospace: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  --space-scale-ratio: var(--line-height-0);
  --space-scale-base: calc(var(--type-scale-0) * var(--line-height-0));
  --space-scale-s: calc(var(--space-scale-base) / var(--space-scale-ratio));
  --space-scale-xs: calc(var(--space-scale-s) / var(--space-scale-ratio));
  --space-scale-xxs: calc(var(--space-scale-xs) / var(--space-scale-ratio));
  --space-scale-m: calc(var(--space-scale-base) * var(--space-scale-ratio));
  --space-scale-l: calc(var(--space-scale-m) * var(--space-scale-ratio));

  --base-content-padding-inline: var(--space-scale-s);
  --base-content-padding-block: var(--space-scale-s);

  --border-thickness: 1px;
  --border-radius-round: 4px;
}

//  ____  _____ ____  _____ _____
// |  _ \| ____/ ___|| ____|_   _|
// | |_) |  _| \___ \|  _|   | |
// |  _ <| |___ ___) | |___  | |
// |_| \_\_____|____/|_____| |_|

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-block-size: 100%;
}

* {
  background-color: inherit;
}

hr {
  border: 0;
  display: flex;
  justify-content: center;
  &:before {
    content: "* * *";
  }
}

//  _____ _     _____ __  __ _____ _   _ _____ ____
// | ____| |   | ____|  \/  | ____| \ | |_   _/ ___|
// |  _| | |   |  _| | |\/| |  _| |  \| | | | \___ \
// | |___| |___| |___| |  | | |___| |\  | | |  ___) |
// |_____|_____|_____|_|  |_|_____|_| \_| |_| |____/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: var(--font-weight-headings-light);
  font-family: var(--font-family-heading);
}

@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-weight: var(--font-weight-headings-dark);
  }
}

.h4,
h4 {
  line-height: var(--line-height-1);
  font-size: var(--type-scale-1);
}

.h3,
h3 {
  line-height: var(--line-height-2);
  font-size: var(--type-scale-2);
}

.h2,
h2 {
  line-height: var(--line-height-3);
  font-size: var(--type-scale-3);
}

.h1,
h1 {
  line-height: var(--line-height-5);
  font-size: var(--type-scale-5);
}

:is(article, .article)
  > :not(:is(h1, h2, h3, h4, h5, h6))
  + :is(h1, h2, h3, h4, h5, h6) {
  margin-block-start: calc(var(--space-scale-s)) !important;
}

html {
  font-size: var(--type-scale-0);
  line-height: var(--line-height-0);
  background: var(--color-canvas-bg);
  color: var(--color-canvas-fg);
}

svg {
  color: inherit;
}

a {
  color: inherit;

  text-decoration-thickness: 1px !important;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
  text-decoration: underline;

  &:hover {
    color: var(--color-accent-fg-normal);
  }
}

code {
  color: inherit;
  // font-size: var(--type-scale--1);
  font-size: calc(1em / var(--type-scale-ratio));
  font-family: var(--font-family-monospace);
  line-height: inherit;
  padding: 0 0.4ch;
  background: var(--color-layer1-bg);
  border: var(--border-thickness) var(--color-layer1-border) solid;
  border-radius: var(--border-radius-round);
}

pre {
  background: var(--color-layer1-bg);
  color: var(--color-layer1-fg);

  font-size: var(--type-scale--1);
  font-family: var(--font-family-monospace);
  line-height: inherit;

  padding-inline: var(--space-scale-xs);
  padding-block: var(--space-scale-xs);

  border: var(--border-thickness) var(--color-layer1-border) solid;
  border-radius: var(--border-radius-round);

  overflow: auto;

  & code {
    color: var(--color-layer1-fg);
    padding: 0;
    border: 0;
  }
}

blockquote {
  padding: 0 var(--space-scale-xs);
  border-left: 8px solid var(--color-layer2-border);
}

ul,
ol {
  padding-inline-start: var(--space-scale-s);
  list-style-position: inside;
}

body,
.body {
  font-size: var(--type-scale-0);
  font-weight: 400;
  font-family: var(--font-family-body);
  line-height: var(--line-height-0);
  padding-block-end: var(--space-scale-m);
}

.body-color {
  color: var(--color-canvas-fg);
}

.small {
  font-size: var(--type-scale--1);
  line-height: var(--line-height--1);
}

.text-decoration\:none {
  text-decoration: none;
}

.font-weight\:normal {
  font-weight: normal;
}

.color-accent {
  color: var(--color-accent-fg-normal);
}

.serif {
  font-family: var(--font-family-serif);
}

.bold {
  font-weight: var(--font-weight-headings-light);
}

.site-header {
  background-color: var(--color-layer1-bg) !important;
  color: var(--color-layer1-fg);
  border-bottom: var(--border-thickness) var(--color-layer1-border) solid;

  & a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

.box {
  padding: var(--base-content-padding-block) var(--base-content-padding-inline);
  border-radius: var(--border-radius);
  background: var(--color-layer1-bg);
  color: var(--color-layer1-fg);

  & .pill {
    background: var(--color-layer2-bg);
    color: var(--color-layer2-fg);
  }
}

.cluster {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-scale-base);
}

.cluster-xs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-scale-xs);
}

.cluster-s {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-scale-s);
}

.stack-xxs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--space-scale-xxs);
}

.stack-xs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--space-scale-xs);
}

.stack-s {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--space-scale-s);
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--space-scale-base);
}

.stack-m {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--space-scale-m);
}

.stack-l {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--space-scale-l);
}

.space-between {
  justify-content: space-between;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.pill {
  background: var(--color-layer1-bg);
  color: var(--color-layer1-fg);
  cursor: pointer;
  padding: 0.05em 0.3em;
  box-sizing: border-box;
  border-radius: var(--border-radius-round);
  border: var(--border-thickness) var(--color-layer1-border) solid;

  &:hover {
    background: var(--color-layer3-bg);
  }

  & a {
    text-decoration: none;
  }
}

.list-style-type\:none {
  list-style-type: none;
}

.text-align\:center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.padding-inline\:base {
  padding-inline: var(--base-content-padding-inline) !important;
}

.padding-block\:xs {
  padding-block: var(--space-scale-xs) !important;
}

.padding-block\:base {
  padding-block: var(--base-content-padding-block) !important;
}

.padding-block\:0 {
  padding-block: 0 !important;
}

.padding-inline\:0 {
  padding-inline: 0 !important;
}

.color\:accent {
  color: var(--color-accent-fg-normal);
}

@media (prefers-color-scheme: dark) {
  .invert {
    --color-info-fg: #3856d1;
    --color-layer2-border: #b08f8f;
    --color-error-fg-normal: #b22e32;
    --color-layer3-border: #ab8686;
    --color-term-bright-magenta: #8f35bd;
    --color-layer3-bg: #d3c5c5;
    --color-canvas-fg: #3d3c44;
    --color-success-fg-normal: #346e27;
    --color-layer2-fg-muted: #a48e9a;
    --color-term-green: #346e27;
    --color-info-fg-normal: #3856d1;
    --color-warning-bg: #fde37c;
    --color-layer1-fg: #3d3c44;
    --color-term-black: #3d3c44;
    --color-term-blue: #3856d1;
    --color-accent-bg: #f5e2e0;
    --color-accent-fg-normal: #c43e1c;
    --color-layer2-fg: #3d3c44;
    --color-canvas-border: #bca3a3;
    --color-canvas-fg-muted: #b19da8;
    --color-layer3-fg-muted: #9f8694;
    --color-term-bright-blue: #3856d1;
    --color-success-bg: #e8e792;
    --color-warning-fg-normal: #b17900;
    --color-error-fg: #b22e32;
    --color-layer1-bg: #e6dfdf;
    --color-accent-fg: #c43e1c;
    --color-layer2-fg-faint: #c0afb4;
    --color-term-red: #b22e32;
    --color-canvas-fg-faint: #d1c4c8;
    --color-warning-fg: #615413;
    --color-term-yellow: #b17900;
    --color-layer1-fg-faint: #c8b9bd;
    --color-term-magenta: #8f35bd;
    --color-term-bright-white: #909098;
    --color-term-cyan: #2c6a73;
    --color-error-bg: #f2d8d8;
    --color-term-white: #909098;
    --color-layer1-fg-muted: #aa95a1;
    --color-success-fg: #565633;
    --color-term-bright-green: #346e27;
    --color-layer1-border: #b69999;
    --color-layer2-bg: #dcd2d2;
    --color-term-bright-red: #b22e32;
    --color-info-bg: #e5dcf3;
    --color-layer3-fg-faint: #baa5ab;
    --color-layer3-fg: #3d3c44;
    --color-term-bright-cyan: #2c6a73;
    --color-term-bright-yellow: #b17900;
    --color-canvas-bg: #f1eded;
    --color-term-bright-black: #3d3c44;
  }
}

@media (prefers-color-scheme: light) {
  .invert {
    --color-layer2-bg: #454253;
    --color-info-fg: #69aafd;
    --color-term-black: #dcdbdb;
    --color-warning-fg: #cfb787;
    --color-layer1-fg-muted: #796e78;
    --color-error-bg: #2e2737;
    --color-accent-bg: #2e2836;
    --color-layer3-fg-faint: #746a7a;
    --color-term-bright-yellow: #cfb787;
    --color-accent-fg: #e66f51;
    --color-term-green: #70cf92;
    --color-term-magenta: #b5a0ff;
    --color-canvas-fg-muted: #6c616b;
    --color-warning-bg: #322b38;
    --color-layer2-border: #726f83;
    --color-layer2-fg-muted: #867984;
    --color-error-fg: #ee5c66;
    --color-canvas-fg-faint: #453e49;
    --color-term-cyan: #18c6ce;
    --color-layer1-border: #5d5a6f;
    --color-layer2-fg-faint: #665d6b;
    --color-layer2-fg: #dcdbdb;
    --color-term-bright-white: #f5f5f5;
    --color-success-fg-normal: #70cf92;
    --color-layer3-border: #858294;
    --color-term-bright-cyan: #18c6ce;
    --color-layer3-fg: #dcdbdb;
    --color-error-fg-normal: #f55661;
    --color-term-bright-black: #dcdbdb;
    --color-term-bright-red: #f55661;
    --color-success-fg: #70cf92;
    --color-term-bright-green: #70cf92;
    --color-term-blue: #69aafd;
    --color-layer3-bg: #555266;
    --color-warning-fg-normal: #cfb787;
    --color-canvas-border: #4d4a5d;
    --color-info-bg: #2d293f;
    --color-term-white: #f5f5f5;
    --color-success-bg: #2b2d3a;
    --color-term-yellow: #cfb787;
    --color-info-fg-normal: #69aafd;
    --color-canvas-fg: #dcdbdb;
    --color-canvas-bg: #211f29;
    --color-term-bright-magenta: #b5a0ff;
    --color-accent-fg-normal: #e66f51;
    --color-layer3-fg-muted: #91848f;
    --color-layer1-bg: #33313f;
    --color-layer1-fg-faint: #564e5b;
    --color-term-bright-blue: #69aafd;
    --color-layer1-fg: #dcdbdb;
    --color-term-red: #f55661;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      font-weight: var(--font-weight-headings-dark);
    }
  }
}

.external-post {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    left: 0;
    width: var(--space-scale-xxs);
    background-color: var(--color-accent-fg-normal);
    top: 0;
    bottom: 0;
  }
}
