{% extends "base.html" %}

{% block content %}

<main class="stack">
  <h1>All Available Tags</h1>
  {% for term in terms | sort(attribute="pages") | reverse %}
    <section class="stack stack-small">
      <header>
        <h2 class="sans uppercase body">{{term.name}}</h2>
        <p><b>{{term.pages | length}} post{{ term.pages | length | pluralize }}</b></p>
      </header>
        <ul class="stack stack-small list-style-type:none padding-inline:0">
        {% for page in term.pages %}
          <li>
            <p>{{ page.date | date(format="%B %e, %Y") }}</p>
            <p class="h4"><a class="text-decoration:none body-color" href="{{ page.permalink | safe }}" >{{ page.title }}</a></p>
          </li>
        {% endfor %}
        </ul>
    </section>
    {%- if not loop.last -%}
      <hr>
    {%- endif -%}
  {% endfor %}
</main>
{% endblock content %}
