{% extends "base.html" %} {% block content %}

<main class="stack">
  <header>
    <h2 class="padding-inline:base">{{term.name}}</h2>
  </header>

  <ul class="stack-s list-style-type:none padding-inline:0">
    {% for page in term.pages %}
    <li
      class="padding-inline:base {% if page.extra.external %}external-post{% else %}transparent{% endif %}"
    >
      <a
        class="text-decoration:none h4"
        href="{% if page.extra.external %}{{ page.extra.external }}{% else %}{{ page.permalink | safe }}{% endif %}"
        >{{ page.title }}</a
      >
      <p class="small serif">{{ page.date | date(format="%B %e, %Y") }}</p>
    </li>
    {% endfor %}
  </ul>
</main>

{% endblock content %}
