<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" >
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}" >
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FBRS</title>
  </head>

  <body class="stack center">
    {% block header %}
    <nav>
      <a href="{{ get_url(path="/", trailing_slash=false) }}">home</a>
    </nav>
    {% endblock header %}

    {% block content %} {% endblock %}
  </body>
</html>
