<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="preload" as="font" type="font/woff2" href="/inter">
    <link rel="stylesheet" href="/inter/inter.css">
    <link rel="stylesheet" href="/style.css" >
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}" >
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FBRS</title>
  </head>

  <body class="center stack">
    {% block header %}
    <nav class="site-header cluster padding-inline:base padding-block:xs space-between">
      <h1 class="h3 serif">fbrs.</h1>
      <a class="bold uppercase" href="{{ get_url(path="/", trailing_slash=false) }}">home</a>
    </nav>
    {% endblock header %}

    {% block content %} {% endblock %}
  </body>
</html>
