{% extends "base.html" %} {% block content %}
<main>
  <article class="stack">
    <header class="stack">
      <div class="stack stack-small">
        <h1>{{ page.title }}</h1>
        <p class="h4">{{ page.date }}</p>
      </div>
      {% if page.toc %}
      <section class="box stack stack-small">
        <h2 class="body uppercase sans" id="table-of-contents">Table of Contents</h2>
        <nav aria-labelledby="table-of-contents">
          <ol>
            {% for h1 in page.toc %}
            <li>
              <a class="text-decoration:none body-color" href="{{h1.permalink | safe}}">{{ h1.title }}</a>
              {% if h1.children %}
              <ol>
                {% for h2 in h1.children %}
                <li>
                  <a class="text-decoration:none body-color" href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                </li>
                {% endfor %}
              </ol>
              {% endif %}
            </li>
            {% endfor %}
          </ol>
        </nav>
        {% endif %}
      </section>
    </header>

    <div class="stack stack-small article">
    {{ page.content | safe }}
    </div>
  </article>
</main>
{% endblock content %}
