{% extends "base.html" %} {% block content %}
<main>
  <article class="stack-s padding-inline:base">
    <header class="stack-s">
      <div>
        <h1>{{ page.title }}</h1>
        <p class="">{{ page.date | date(format="%B %e, %Y") }}</p>
        {% if page.taxonomies.tags %}
        <div class="cluster-xs list-style-type:none">
            {% for tag in page.taxonomies.tags %}
            <li>
              <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">{{ tag }}</a>
            </li>
            {% endfor %}
        </div>
        {% endif %}
      </div>

      {% if page.toc %}
      <section class="box stack-s">
        <h2 class="h4" id="table-of-contents">Table of Contents</h2>
        <nav aria-labelledby="table-of-contents">
          <ol class="padding-inline:0">
            {% for h1 in page.toc %}
            <li>
              <a class="text-decoration:none" href="{{h1.permalink | safe}}">{{ h1.title }}</a>
              {% if h1.children %}
              <ol>
                {% for h2 in h1.children %}
                <li>
                  <a class="text-decoration:none" href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                </li>
                {% endfor %}
              </ol>
              {% endif %}
            </li>
            {% endfor %}
          </ol>
        </nav>
        {% endif %}

      </section>
    </header>

    <div class="stack-xs article">
    {{ page.content | safe }}
    </div>
  </article>
</main>
{% endblock content %}
