{% extends "base.html" %} 
{% block content %}
<main>
  <article>
    <header>
      <h1>{{ page.title }}</h1>
      <p>{{ page.date }}</p>
    </header>

    {% if page.toc %}
    <section class="box">
      <h2 class="large" id="table-of-contents">Table of Contents</h2>
      <nav aria-labelledby="table-of-contents">
        <ol>
          {% for h1 in page.toc %}
          <li>
            <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
            {% if h1.children %}
            <ol>
              {% for h2 in h1.children %}
              <li>
                <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
              </li>
              {% endfor %}
            </ol>
            {% endif %}
          </li>
          {% endfor %}
        </ol>
      </nav>
      {% endif %}
    </section>

    {{ page.content | safe }}
  </article>
</main>
{% endblock content %}
