{% extends "base.html" %}

{% block content %}
<main class="stack">
  <header>
    <h1>{{ section.title }}</h1>
  </header>

  <section class="box stack-compact">
    <h2 class="body sans uppercase"><strong>Introduction</strong></h2>
    {{ section.content | safe }}
  </section>

  {% for page in section.pages %}
    <article class="stack stack-small">
      <header>
        <p>{{ page.date | date(format="%B %e, %Y") }}</p>
        <h2 class="h4">{{ page.title }}</h2>
        <div class="cluster">
          {%- if page.taxonomies -%}
          <ul class="cluster list-style-none p0" style="--space: 1ch">
            {% for k,v in page.taxonomies %}
              {% for tag in v %}
              <li><a href="/tags/{{tag}}">{{ tag }}</a></li>
              {% endfor %}
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </header>
      {{ page.content | safe }}
    </article>
  {% endfor %}
</main>
{% endblock content %}
