{% extends "base.html" %}

{% block content %}
<main class="stack box">
  <header>
    <h1>{{ section.title }}</h1>
  </header>

  <section class="box invert stack-compact">
    <h2 class="body">Introduction</h2>
    {{ section.content | safe }}
  </section>

  {% for page in section.pages %}
    <article class="stack stack-small">
      <header>
        <p>{{ page.date | date(format="%B %e, %Y") }}</p>
        <h2>{{ page.title }}</h2>
        <div class="cluster">
          {%- if page.taxonomies.tags -%}
          <ul class="cluster list-style-type:none padding-inline:0" style="--space: 1ch">
            {% for tag in page.taxonomies.tags %}
              <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </header>
      {{ page.content | safe }}
    </article>
  {% endfor %}
</main>
{% endblock content %}
