{% extends "base.html" %} {% block header %} {% endblock header %} {% block
content %}

<div class="stack-s">
  <header class="stack-xs site-header padding-inline:base padding-block:xs">
    <div class="cluster space-between">
      <h1 class="serif">{{ section.title }}</h1>
      <nav class="cluster-xs" role="list">
        <a role="listitem" href="{{ get_url(path='@/about/_index.md', trailing_slash=false) }}">About</a>
        <a role="listitem" href="/tags/">Tags</a>
        <a role="listitem" href="https://github.com/cideM/" title="GitHub">GitHub</a>
        <a role="listitem" href="{{ get_url(path='atom.xml', trailing_slash=false) }}" title="RSS">RSS</a>
      </nav>
    </div>
  </header>

  <nav>
    <ul class="stack-s list-style-type:none padding-inline:0">
      {% for page in section.pages %}
      <li class="padding-inline:base" >
        <a class="h3 text-decoration:none" href="{{ page.permalink | safe }}">{{ page.title }}</a>
        <p>{{ page.date | date(format="%B %e, %Y") }}</p>
        {% if page.taxonomies.tags %}
          <ul class="cluster-xxs list-style-type:none padding-inline:0">
            {% for tag in page.taxonomies.tags %}
            <li><a class="small" href="{{ get_taxonomy_url(kind='tags', name=tag) }}">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
{% endblock content %}
