{% extends "base.html" %}

{% block header %} {% endblock header %}

{% block content %}

<header class="stack stack-small">
  <div class="cluster space-between">
    <h1>{{ section.title }}</h1>
    <div class="cluster color-accent" style="--space: 1ch">
      <a href="https://github.com/cideM/" title="GitHub">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
      </a>
      <a href="https://www.linkedin.com/in/fbrs" title="LinkedIn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin">
          <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
          <rect x="2" y="9" width="4" height="12"></rect>
          <circle cx="4" cy="4" r="2"></circle>
        </svg>
      </a>
      <a href="{{ get_url(path='atom.xml', trailing_slash=false) }}" title="RSS">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss">
          <path d="M4 11a9 9 0 0 1 9 9"></path>
          <path d="M4 4a16 16 0 0 1 16 16"></path>
          <circle cx="5" cy="19" r="1"></circle>
        </svg>
      </a>
    </div>
  </div>
  <ul class="cluster list-style-type:none padding-inline:0" style="--space: 1ch">
    <li><a class="body-color" href="{{ get_url(path='@/about/_index.md', trailing_slash=false) }}">about me</a></li>
    <li><a class="body-color" href="{{ get_url(path='@/resume.md', trailing_slash=false) }}">resume</a></li>
    <li><a class="body-color" href="/tags/">posts by tag</a></li>
    <li><a class="body-color" href="{{ get_url(path='@/devlog/_index.md', trailing_slash=false) }}">devlog</a></li>
  </ul>
</header>

<nav class="stack stack-large landing-page-toc">
  <section class="stack stack-small box">
    <h3 class="body sans">Articles published elsewhere</h3>
    <ul class="stack list-style-type:none padding-inline:0">
      <li>
        <p><time datetime="2021-09-20">Sep 20, 2021</time></p>
        <p class="h4"><a class="text-decoration:none body-color" href="https://medium.com/amboss/applying-modern-go-concurrency-patterns-to-data-pipelines-b3b5327908d4">Applying Modern Go Concurrency Patterns to Data Pipelines</a></p>
      </li>
      <li>
        <time datetime="2021-02-26">Feb 26, 2021</time>
        <p class="h4">
          <a class="text-decoration:none body-color" href="https://medium.com/amboss/prefix-trees-in-action-404a6105b6d5">Prefix Trees in Action</a>
        </p>
      </li>
    </ul>
  </section>
  <section class="stack stack-small">
    <ul class="stack list-style-type:none padding-inline:0">
      {% for page in section.pages %}
        <li>
          <p>{{ page.date | date(format="%B %e, %Y") }}</p>
          <p class="h4"><a class="text-decoration:none body-color" href="{{ page.permalink | safe }}" >{{ page.title }}</a></p>
          {% if page.taxonomies %}
          <ul class="cluster list-style-type:none padding-inline:0" style="--space: 1ch">
            {% for k,v in page.taxonomies %}
              {% for tag in v %}
              <li><i><a class="text-decoration:none" href="/tags/{{tag}}">{{ tag }}</a></i></li>
              {% endfor %}
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
</nav>
{% endblock content %}
